<nav class="navbar-ct-transparent navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/home']"><img src="/assets/landingpage/small-letter-logo.png" width="100px" href="#" alt="Strive Logo"></a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn()">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" formControlName="email" ngTrim="true">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid" *ngIf="!isLoggedIn()">Sign In</button>
        <a [routerLink]="['/register']" *ngIf="!isLoggedIn()"><button class="btn btn-info btn-signin" type="button" (click)="sign()">Sign Up</button></a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/dashboard']" *ngIf="isLoggedIn()">Dashboard</a></li>
        <li><button class="btn btn-danger btn-logout" (click)="onLogout()" *ngIf="isLoggedIn()">Sign out</button></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
