.jumbotron
  {
    padding-top: 0px;
    padding-bottom:0px;
    background-image: url("/assets/logo-560.png");
    background-color: rgb(44, 62, 80);
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: center;

    height:560px;
   }
   .btn-default {
     background-color: rgb(249, 105, 14);
   }
